{{ define "main" }}
<div class="card rounded-0">
  <div class="card-body">
    <h1>Does learning React makes you exhausted?</h1>
    <img
      src="../img/digesting-react.png"
      class="mx-auto my-5 d-block img-fluid"
      alt="Digesting React cover"
      style="box-shadow: 0 0 30px 1px #aaa"
    />
    <br />
    <p>
      Are you tired of browsing free React tutorials with confusing jargons that
      left you with more questions than answers?
    </p>

    <h2>Let me help you master React library</h2>

    <p>
      <i>Digesting React</i> is a project-based introduction to React, the most
      popular JavaScript library for building reusable UI. You're not only going
      to learn about the theories, but you're actually going to put what you've
      learned into practice by creating React based applications.
    </p>
    <p>
      After all, you're here so that you can build applications with React. The
      book won't waste your time by elaborating on irrelevant concepts and focus
      on the topics that really matter
    </p>

    <h3 class="my-3">Inside this book, you'll learn the following:</h3>
    <ul>
      <li>Build 4 web applications from scratch using React</li>
      <li>Understand the building blocks of React components</li>
      <li>Master the use of hooks and lifecycle methods</li>
      <li>Avoid bad practices that could break React applications</li>
      <li>And many more!</li>
    </ul>

    <h3 class="my-3">
      And you'll have practical experience by building these projects:
    </h3>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <a
              href="https://codesandbox.io/s/react-wizard-form-complete-kzd4s"
              target="_blank"
            >
              <img src="/img/react/wizard-form.png" class="img-fluid" alt="" />
              <h5 class="card-title">React Wizard Form</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <a
              href="https://codesandbox.io/s/personal-finance-complete-wv3kx"
              target="_blank"
            >
              <img
                src="/img/react/finance-tracker.png"
                class="img-fluid"
                alt=""
              />
              <h5 class="card-title">A Finance Tracker App</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <a
              href="https://codesandbox.io/s/github-user-finder-complete-y9wzn"
              target="_blank"
            >
              <img
                src="/img/react/github-user-finder.png"
                class="img-fluid"
                alt=""
              />
              <h5 class="card-title">A Github User Finder App</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-12 mb-5">
        <div class="card">
          <div class="card-body">
            <a
              href="https://codesandbox.io/s/react-e-commerce-ui-complete-8nzgn"
              target="_blank"
            >
              <img src="/img/react/e-commerce.png" class="img-fluid" alt="" />
              <h5 class="card-title">E-commerce UI</h5>
            </a>
          </div>
        </div>
      </div>
    </div>

    <br />
    <p id="buy">
      It's time to finally build your next big thing with React. Let me help you
      learn it today.
    </p>

    <h2>What you get</h2>
    <img
      src="../img/digesting-react.png"
      class="mx-auto my-5 d-block img-fluid"
      alt="Digesting React cover"
      style="box-shadow: 0 0 30px 1px #aaa"
    />
    <ul>
      <li>
        230+ pages of structured React knowledge from basic to experienced
      </li>
      <li>PDF, EPUB and MOBI format</li>
      <li>Focused code examples for each topic</li>
      <li>Online source code for the projects with follow-along guidance</li>
    </ul>
    <div class="d-grid gap-2">
      <a
        class="btn btn-warning btn-block btn-lg"
        href="https://gum.co/digesting-react?wanted=true"
      >
        Buy now for $39
      </a>
    </div>
    <small class="d-block text-center">
      Once purchased, you'll receive an email for the receipt and the link to
      download the book.
    </small>

    <h3 class="mt-5">Full table of contents</h3>
    <ul>
      <li>Foreword</li>
      <li>
        Introduction to React
        <ul>
          <li>It’s minimalist</li>
          <li>It has small learning curve</li>
          <li>It’s unopinionated</li>
          <li>Strong community support</li>
        </ul>
      </li>
      <li>
        Setting up your local computer environment
        <ul>
          <li>Installing VSCode</li>
          <li>Installing Node.js</li>
          <li>Installing Create React App</li>
          <li>Installing React Developer Tools</li>
        </ul>
      </li>
      <li>
        Part 1: React Core Concepts
        <ul>
          <li>Introducing React components</li>
          <li>
            Returning multiple elements
            <ul>
              <li>Rendering to the screen</li>
              <li>Writing comments in React components</li>
              <li>Your first exercise</li>
            </ul>
          </li>
          <li>
            JSX: The template language of React
            <ul>
              <li>Adding class attribute</li>
              <li>Writing comments inside React JSX</li>
            </ul>
          </li>
          <li>Using JavaScript inside JSX</li>
          <li>Assembling multiple components as one</li>
          <li>Custom functions and this keyword</li>
          <li>
            State and props
            <ul>
              <li>Passing down multiple props</li>
              <li>Props are immutable</li>
              <li>Binding a custom function</li>
            </ul>
          </li>
          <li>
            Using React DevTools to inspect state and props
            <ul>
              <li>Conclusion</li>
            </ul>
          </li>
          <li>
            React event handlers
            <ul>
              <li>Storing form input with onChange event handler</li>
              <li>Preventing default event behavior</li>
            </ul>
          </li>
          <li>
            React component’s lifecycle methods
            <ul>
              <li>The constructor function</li>
              <li>render function</li>
              <li>The componentDidMount function</li>
              <li>The componentDidUpdate function</li>
              <li>The componentWillUnmount function</li>
              <li>Conclusion</li>
            </ul>
          </li>
          <li>
            Writing CSS for React Components
            <ul>
              <li>Inline styling</li>
              <li>CSS stylesheets</li>
              <li>CSS Modules</li>
              <li>Styled components</li>
              <li>Which one should you start with?</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        First Project: React Wizard Form
        <ul>
          <li>Building the app structure</li>
          <li>Writing the functions for change and submit</li>
          <li>Finishing child components</li>
          <li>Wrapping up</li>
        </ul>
      </li>
      <li>
        Part 2: React function components and hooks
        <ul>
          <li>React function-based components</li>
          <li>The useState hook</li>
          <li>
            The useEffect hook
            <ul>
              <li>The componentWillUnmount effect</li>
              <li>Running useEffect only once</li>
            </ul>
          </li>
          <li>
            The rules of hooks
            <ul>
              <li>Only call Hooks at the top level</li>
              <li>Only call Hooks from function components</li>
            </ul>
          </li>
          <li>Conditional rendering with React</li>
          <li>Partial rendering with a regular variable</li>
          <li>Inline rendering with &amp;&amp; operator</li>
          <li>Inline rendering with conditional (ternary) operator</li>
        </ul>
      </li>
      <li>
        Second project: Finance Tracker
        <ul>
          <li>
            Composing the components
            <ul>
              <li>Implementing the application process</li>
              <li>Transaction form rendering</li>
              <li>Transaction form rendering</li>
            </ul>
          </li>
          <li>
            Writing the category form
            <ul>
              <li>Displaying categories in Header</li>
            </ul>
          </li>
          <li>Writing AddTransaction component</li>
          <li>Listing transactions on TransactionTable component</li>
          <li>Adding delete function to TransactionTable</li>
          <li>Processing transactions with Chart.js</li>
          <li>Activating category filter</li>
        </ul>
      </li>
      <li>
        Part 3: React component logics
        <ul>
          <li>
            Making AJAX calls in React
            <ul>
              <li>Make AJAX calls when the component has been mounted</li>
            </ul>
          </li>
          <li>
            Using Axios in React
            <ul>
              <li>Using Axios in React</li>
              <li>Requests example with Axios</li>
              <li>Executing multiple concurrent requests</li>
            </ul>
          </li>
          <li>
            React Router
            <ul>
              <li>Making dynamic routing</li>
              <li>Nested route</li>
              <li>Passing props to Route component</li>
            </ul>
          </li>
          <li>
            React Router hooks
            <ul>
              <li>useParams hook</li>
              <li>useLocation hook</li>
              <li>useHistory hook</li>
              <li>useRouteMatch hook</li>
            </ul>
          </li>
          <li>Should you use spread attributes when passing props?</li>
          <li>Using propTypes and defaultProps</li>
          <li>Passing data from child components to parent components</li>
        </ul>
      </li>
      <li>
        Third project: Github User Finder
        <ul>
          <li>
            The components composition
            <ul>
              <li>Writing the app structure</li>
              <li>Writing the Header component</li>
              <li>Writing the CSS</li>
            </ul>
          </li>
          <li>
            Writing the search page
            <ul>
              <li>Writing the SearchForm component</li>
              <li>Writing the UsersList component</li>
            </ul>
          </li>
          <li>Writing the Profile component</li>
        </ul>
      </li>
      <li>
        Part 4: Context API
        <ul>
          <li>The Prop drilling pattern</li>
          <li>
            The Context API
            <ul>
              <li>Providing context</li>
              <li>Consuming context in function components</li>
              <li>Consuming context in class components</li>
              <li>Separating context from components</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        Fourth project: E-commerce App
        <ul>
          <li>Creating the layout for the application</li>
          <li>Creating the Context API</li>
          <li>Writing AddProduct component</li>
          <li>Writing the Products component</li>
          <li>Writing the Cart component</li>
          <li>Persisting state into the Local Storage</li>
        </ul>
      </li>
      <li>
        Part 5: Closing
        <ul>
          <li>Afterword</li>
        </ul>
      </li>
    </ul>

    <h2 class="my-3">FAQ</h2>

    <h3>I'm not sure this book will help me?</h3>
    <p>
      Don't worry, you can download a preview below to see if this book is right
      for you. Plus, there is a 30-day money back guarantee. If there is
      anything else you'd like to ask, feel free to send me an email.
      <a
        class="btn btn-info btn-block btn-lg"
        href="/digesting-react-preview.pdf"
      >
        Download 60+ pages preview
      </a>
    </p>

    <h3>Who's the author again?</h3>
    <img
      width="200"
      src="../img/nathan-sebhastian.png"
      class="mx-auto my-3 d-block img-fluid"
    />
    <p>
      Hi there! I'm Nathan Sebhastian and I'm a passionate software developer
      that loves to write and help fellow developers.
    </p>
    <p>
      I've been writing code profesionally for 5 years and I've been published
      on some of the most popular tech publications. You might've seen me in one
      of those publications:
    </p>
    <img
      src="../img/as-seen-black.png"
      class="mx-auto my-3 d-block img-fluid"
    />

    <p>
      Also, here are some comments from developers who've seen my tutorials on
      React.
    </p>
    <div class="row mt-4">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-4.png"
          alt="community praises"
        />
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-6.png"
          alt="community praises"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-2.png"
          alt="community praises"
        />
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-3.png"
          alt="community praises"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-1.png"
          alt="community praises"
        />
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../praises/testi-5.png"
          lt="community praises"
        />
      </div>
    </div>

    <img
      src="../img/digesting-react.png"
      class="mx-auto my-5 d-block img-fluid"
      alt="Digesting React cover"
      style="box-shadow: 0 0 30px 1px #aaa"
    />
    <ul>
      <li>
        230+ pages of structured React knowledge from basic to experienced
      </li>
      <li>PDF, EPUB and MOBI format</li>
      <li>Focused code examples for each topic</li>
      <li>Online source code for the projects with follow-along guidance</li>
    </ul>
    <div class="d-grid gap-2">
      <a
        class="btn btn-warning btn-block btn-lg"
        href="https://gum.co/digesting-react?wanted=true"
      >
        Buy now for $39
      </a>
    </div>
    <small class="d-block text-center">
      Once purchased, you'll receive an email for the receipt and the link to
      download the book.
    </small>
  </div>
</div>
{{ end }}
